// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster&text=Deployr');

html {
    font-size: 16px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    margin-top: -7px;
}
